/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

header, nav, main, footer{
    max-width:64rem;
    margin:auto;
}


/*----------- NAVIGATION --------------*/
nav {
    height:35px;
}
nav ul li a{
    padding: .5rem 1rem;
}
/*-----------home page---------------*/
div.templeActivities figure{ flex-basis: 29%;}
    
    
    
    
    
}