/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer{
        max-width:100%;
        margin:auto;
    }
    
    
    /*----------- NAVIGATION --------------*/
    /*----------- FOOTER ----------------*/
    #footerHome{
        margin-top: 1050px;
      }
}  
        