html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body { font-family:sans-serif; }


/*-------------HEADER------------------*/
header {
    
    background-color: white;
    color:black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

/*-----------NAVAGATION----------------*/
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color:black;
}

nav {
    overflow:auto;
    background-color: white;
    
}
nav ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: black;
    padding: .8rem 2%;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    border-top:1px solid rgba(0,0,0,0.3)
}

nav ul li a:hover {
    background-color: rgba(80,137,145,.5);
    color: white;
}

nav ul li.active a {
    background-color: rgba(80,137,145,.2);
    color: white;    
}
nav ul.hide {display:none;}


.dropdown {
    float: left;
    overflow: hidden;

  }
  
  .dropdown .dropli {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropli {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*-------------MAIN--------------------*/
main {
    clear:both;
    min-height: 10rem;
}



/*---------------------------------*/

hr { clear:both; }
/*------- Contact Info-------------*/
.contactInfo {
    display:flex;
    flex-wrap:wrap;
    background-color: #172A3A;
    color:white;
    padding:5px 20px;
}

.contactInfo p {
    font-style:italic; 
}

/*--------FOOTER-----------------------*/
footer {
    background-color:white;
    color:black;
    padding:10px;
    text-align:center;
}




