/*.parallax {
    background-image: url("../images/smallFamily.jpg");
    min-height: 300px;

}
@media only screen and (min-width:450px){
    .parallax{
        background-image: url("../images/IMG_1805-2.jpg");
        min-height: 500px;
        /* Create the parallax scrolling effect 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}*/

.words {
    margin: 20px 10% 0 10%;
}


#form-style {
    opacity: .7;
    min-width: 300px;
    max-width: 900px;
	margin: 20px 15% 20px 10%;
    border-radius: 2px;
    border: 6px solid;
    border-color: #789d61;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    color: white;
    background-color: #70548b;
}

#form-container {
    padding: 10px;
}

#form-style textarea {
    margin: 0px 30px 0px 0px;
    min-width: 300px;
    min-height: 175px;
}

#form-style p {
    color: white;
}

#form-style.checkbox {
    background-color: white;
}

#options {
    width: 300px;
    height: 275px;
}