.parallax {
    /* The image used */
    background-image: url("../images/IMG_1805-2.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .words{
      margin: 20px 10% 0 10%;
  }