 /* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*------------HEADER------------------*/
header h1 {
    margin:0; 
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    
}
header h2 {
    margin:75px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    
}


/*----------- NAVIGATION --------------*/
   
nav button { display:none;}
nav ul.hide { display: block;}
nav ul {margin-left: 1%;}
nav ul li {float: left;}

nav ul li a{
    padding: .8rem .5rem;
    border: none;
    border-right: 1px solid black;
}
    
/*----------home page-----------------*/
.text-block {padding: 30px 0px 10px 0px;}

button{
    margin-bottom:1.5rem;
    height:48px;
    font-size:30px;

}
    
div.templeActivities figure {
flex-basis: 46%;
}
.tdih img{
    width:50%;
    float:right;
}  
    
.contactInfo{
    justify-content: space-around;
}




}